<!DOCTYPE html>
<html lang="en">
{% extends 'main/index.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Signup page</title>

</head>
<body>
    <div class="sign-up-page">
        <img src="">
        <h4>Sign-up</h4>
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" class="input-box" placeholder="Your email" required>

            <label for="password">Password:</label>
            <input type="password" class="input-box" placeholder="Your password" required>

            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>

            <button type="submit">Sign Up</button>
        </form>
            <p>Already have an account? <a href="login.html">Login</a></p>
    </div>
</body>
</html>